.example-spacer {
    flex: 1 1 auto;
}
.title-center
{
    flex: 1 1 auto;
    text-align: right;
}
.inp-srch {
    box-shadow: 2px 1px 2px 1px rgb(202, 190, 190);
    width: 20vw;
    margin-top: 0.8rem;
}
.inp-add {
    height: 20px;
    border: none;
    margin-left: 5px;

}
title
{
    font-family: 'Arvo', serif;
    font-family: 'Domine', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Slab', serif;
}
.inp-addTodo
{
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
    position: relative;
    top: 20%;

}
.btn-pencil {
    height: 3.2vh;
    width: 1.9vw;
    margin-right: 10px;
    border-radius: 20px;
    padding: 0;
}
.btn-delete {
    height: 3.2vh;
    width: 1.9vw;
    border-radius: 20px;
    padding: 0;
}
.btn-pencil:hover {
    background-color: green;

}
.btn-delete:hover {
    background-color: red;
}
.inp2 {
    font-size: 1rem;
    font-weight: bold;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
}
.card {
    box-shadow: 0px 0px 5px 0px;
    border: none;
}
.card-footer {
    font-size: 0.8em;
}
.taskName
{
  font-size: 1.1em;
  font-weight: bold;
  font-family: century;
}

// ===================input Css
// change label color, background & font when focus after change lable position
::ng-deep .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    font-size: 16px;
    // color: red;
    top: 28px !important;
    position: relative !important;
    font-weight: 300 !important;
    // background: rgb(255, 209, 123);
  }
  
  // change mat-form-field height
  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 35px !important;
  }
  // Change Lable Font Position
  ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 26px !important;
  }
  
  // change mat lable position
  ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 15px !important;
    font-size: 15px;
  }
  // change mat-form-field inside input with text
  ::ng-deep .mat-mdc-input-element {
    top: -10px !important;
    position: relative !important;
  }
 
.mat-mdc-menu-item
{
    padding-left: 9px;
    padding-right: 9px;
}
::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
    min-width: 100px !important;
    cursor: pointer;
}
.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  .mat-mdc-card-avatar
  {
    height: 10px !important;
    width: 10px;
  }

////////////  Expansible panel Style //////////////

.enterTodo{
    display: flex ;
   
    justify-content: space-around;

  }
  .addInput
  {
    width: 70%;
    height: 30%;
  }
  .mat-expansion-panel
{
    width: 30vw;
}

//////////////////   Card Css //////////////////////
mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mat-mdc-card-header{
    padding: 15px;
}
::ng-deep .mat-mdc-card-avatar {
    display: none !important;
}
.c-header
{
    background-color: rgb(73, 81, 88);
    color: white;
    border-top-left-radius:4px;
      border-top-right-radius:4px;
}
.card-footer
{
  padding: 10px;
}
.mat-mdc-card-content
{
  background-color: rgb(245, 241, 241);
}
/*================================= Manu Mat Icon Button =================================*/
/******* Accent FAB Button Rippple  *******/
.mat-mdc-fab.mat-accent {
    --mat-mdc-button-persistent-ripple-color: #3f51b5;
    --mat-mdc-button-ripple-color: #3f51b53d;

    height: 30px;
    width: 30px;
    box-shadow: 0px 3px 5px -1px rgba(231, 3, 3, 0), 0px 6px 10px 0px rgba(165, 31, 31, 0), 0px 1px 18px 0px rgba(0, 0, 0, 0) !important;
}

.mat-mdc-fab.mat-accent {
    --mdc-fab-container-color: #e6693300;
    --mdc-fab-icon-color: #fff;
    --mat-mdc-fab-color: #000000de;
}

.mat-mdc-fab.mat-accent mat-icon {
    font-size: var(--mdc-typography-button-font-size, 25px);
    transform: rotate(90deg);
}

// =========================================================================== Media Query ================================================================= //

@media screen and (max-width:320px)
  {
    .mat-expansion-panel {
        width: 80vw;
    }
    
  }
  @media screen and (max-width:1024px)
  {
    .mat-expansion-panel
    {
        width: 50vw;
    }
  }
  @media screen and (max-width:425px)
  {
    .mat-expansion-panel
    {
        width: 80vw;
    }
    
  }

/////////////////////////// search bar

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 45px;
    width: 40px;
    border-style: none;
    padding: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 50px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    margin-right: 100px;

  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 40px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 101px;
    top: 3px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  
  ///////////////////////////
  /// 
  input[type=checkbox]:checked + span {
    color:red;
    text-decoration: line-through;
  } 
  #cbox3:checked + span {
    color:blue;
    text-decoration: line-through;
  }


  