<!-- Top Bar


<div class="container">
    <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4 col-md-6 col-12 mt-5">
            <img src="/assets/Gurukul-international-school-low-quality2.webp" alt="" style="height: 4.5vh;">
        </div>

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4 col-md-6 col-12 mt-5">

            <div class="input-group mb-3 inp">
                <input type="text" class="form-control fw-bold" placeholder="Type to Search..." aria-label="Recipient's username" aria-describedby="button-addon2" type="search">
                <button class="btn btn-secondary" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
              </div>
            
        </div>

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4 col-md-6 col-12 mt-5 d-flex justify-content-end">
            <div class="mt-1" style="width: 10vw;">
                <button class="btn btn-outline-primary fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#modal"><i class="bi bi-plus-circle me-1 fs-5"></i>Add
                    Task</button>
            </div>
        </div>
    </div>
</div> -->

<nav class="navbar navbar-expand-lg mt-4">
    <div class="container">
        <div class="">
            <img src="/assets/Gurukul-international-school-low-quality2.webp" alt="" style="height: 5vh;">
        </div>

        <div class="mx-auto mt-2">
            <div class="input-group mb-3 inp ">
                <input type="text" class="form-control fw-bold" placeholder="Type to Search..." aria-label="Recipient's username" aria-describedby="button-addon2" type="search">
                <button class="btn btn-secondary" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
              </div>
        </div>

        <div>

            <div class="mt-1">
                <button class="btn btn-outline-primary fw-bold btn-add" type="button" data-bs-toggle="modal" data-bs-target="#modal"><i class="bi bi-plus-circle me-1 fs-5"></i>Add
                    Task</button>
            </div>

        </div>

    </div>
</nav>



<!--==============================================================================================  Modal  ======================================================================-->


<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">T-Do</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Add Task:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>





<!-- =================================================================================  Task Content ==========================================================================-->


<div class="container">
    <div class="row ">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-3 col-md-6 col-12  d-flex justify-content-center">

            <div class="card border-dark mb-3 mt-5" style="width: 18rem;">
                <div class="card-header bg-transparent fw-bold d-flex justify-content-between">Task - 1
                    <span class="icon1">
                        <button class="btn-pencil"><i class="bi bi-pencil me-3"></i></button><button class="btn-delete"><i class="bi bi-trash-fill"></i></button>
                    </span>
                </div>
                <div class="card-body text-success">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                </div>
                <div class="card-footer bg-transparent ">15/5/2023</div>
              </div>

        </div>

        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-3 col-md-6 col-12  d-flex justify-content-center">

            <div class="card border-dark mb-3 mt-5" style="width: 18rem;">
                <div class="card-header bg-transparent  fw-bold d-flex justify-content-between">Task - 2
                    <span class="icon1">
                        <button class="btn-pencil"><i class="bi bi-pencil me-3"></i></button><button class="btn-delete"><i class="bi bi-trash-fill"></i></button>
                    </span>
                </div>
                <div class="card-body text-success">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                </div>
                <div class="card-footer bg-transparent ">15/5/2023</div>
              </div>

        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-3 col-md-6 col-12  d-flex justify-content-center">

            <div class="card border-dark mb-3 mt-5" style="width: 18rem;">
                <div class="card-header bg-transparent  fw-bold d-flex justify-content-between">Task - 2
                    <span class="icon1">
                        <button class="btn-pencil"><i class="bi bi-pencil me-3"></i></button><button class="btn-delete"><i class="bi bi-trash-fill"></i></button>
                    </span>
                </div>
                <div class="card-body text-success">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                </div>
                <div class="card-footer bg-transparent ">15/5/2023</div>
              </div>

        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-3 col-md-6 col-12  d-flex justify-content-center">

            <div class="card border-dark mb-3 mt-5" style="width: 18rem;">
                <div class="card-header bg-transparent  fw-bold d-flex justify-content-between">Task - 2
                    <span class="icon1">
                        <button class="btn-pencil"><i class="bi bi-pencil-square"></i></button><button class="btn-delete"><i class="bi bi-trash-fill"></i></button>
                    </span>
                </div>
                <div class="card-body text-success">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ABC</label>
                    </div>
                </div>
                <div class="card-footer bg-transparent ">15/5/2023</div>
              </div>

        </div>

          

     
    </div>
</div>